<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Add Movie</h1>
    <form action="/movies/create" method="POST">
    <input type="text" placeholder="Enter Movie Title" name="title">
    <input type="text" placeholder="Enter Movie Description" name="description">
    <input type="text" placeholder="Enter Movie Genre" name="genre">
    <input type="text" placeholder="posterURL" name="posterURL">
    <button>submit</button>
    </form>
</body>
</html>