<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <section>
    {{#arr}}
            <h1>{{title}}
        <p>{{description}}</p>
        <p>{{genre}}</p>
        <img src="{{posterURL}}">
    {{/arr}}
    </section>
</body>
</html>