body {
    background-color: rgb(26, 73, 30);
    display: flex;
    justify-content: center;
}
ul {
    background-color: brown;
    padding: 5%;
    padding-left: 4%;
    color: black;
    font-size: 25px;
    border: 50%;
    color: rgb(16, 58, 25);
}
#wrapper {
    background-color: rgb(16, 58, 25);
    border: 5px solid coral;
    margin-top: 5rem;
    padding: 3rem;
}
