<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>

    <form action="/addTrip" method="post">
    <input type="text" placeholder="Enter Title" name="title">
    <input type="text" placeholder="Enter imageURL" name="image">
    <input type="date" placeholder="Enter Departure Date" name="departure">
    <input type="date" placeholder="Enter Return Date" name="arrive">
    <button>ENTER</button>
    </form>

</body>
</html>