<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
    <form action="/login" method="POST">
    <input type="text" placeholder="Enter Username" name="username">
    <input type="text" placeholder="Enter password" name="password">
    <button>enter</button>
    <div>{{errorMessage}}</div>
    </form>
    <div>regiester here <a href="/sign-up">sign up</a> </div>
</body>
</html>