<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/sign-up" method="POST">
    <input type="text" placeholder="Enter Username" name="username">
    <input type="text" placeholder="Enter password" name="password">
    <button>enter</button>
    </form>
    <div>already registered?<a href="/login">login here</a> </div>
</body>
</html>