<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/trips/addtrip">
        <input type="text" placeholder="Enter Trip Title:" name="title">
        <input type="text" placeholder="Enter Image URL" name="imageURL">
        <input type="date" placeholder="Enter Departure Date" name="departure">
        <input type="date" placeholder="Enter Arriving Date" name="arrive">
        <button type="submit">Submit Trip</button>
    </form>
</body>
</html>